<div class="col-md-12" ng-controller="AddsheetController">
<div class="page-header">
    <div class="container">

        <h4 class="inline">
           
            <span>Google Drive - Select Documents and Sheets for the extraction </span>            
            <!--<kb-run-button               
                 class="btn" tooltip="Run this config" is-running="isRunning()" ng-click="run()"></kb-run-button>-->
        </h4>
        <kb-loader is-loading="loading" ng-show="loading" tooltip="loading profiles.."></kb-loader>

    </div>

</div>

    <!--<kb-loader is-loading="filesLoading " ng-show="filesLoading "></kb-loader>-->
    <div class="well" ng-show="filesLoading">
        Loading the list of files from google drive account...
    </div>

    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>

    <div class="container" ng-hide="filesLoading">
        <p>
            <h4 class="modal-title">Select sheets/files of {{account.email}}</h4>
        </p>

        <div  ng-show="gdrive.files && gdrive.files.length">
             <span>Click on files to expand:</span>
            <button type="button" tooltip="Expand/collapse all" ng-disabled="isExpanding()" class="btn btn-default" ng-click="expandAll()">
                <i class="fa fa-expand"></i>
            </button>
            <button type="button" ng-disabled="isExpanding()" tooltip="Expand and select/deselect all" class="btn btn-default" ng-click="selectAll()"  >
                <i class="fa fa-check-square-o"></i>
            </button>
           

        </div>


        <div class="well" ng-hide="filesLoading || gdrive.files.length">
            There are no files assigned to this account.
        </div>



        <div  ng-hide="filesLoading" ng-show="gdrive.files.length">

            <accordion ng-show="gdrive.files.length" close-others="false">
                <accordion-group ng-repeat="(fileIdx,file) in gdrive.files"  is-open="!gdrive.files[fileIdx].isCollapsed">
                    <accordion-heading  >
                        <a class="sheet-head" ng-click="loadGdriveSheets(fileIdx, false)">{{file.title}}
                        <kb-loader tooltip="reload file sheets" ng-click="refreshFileSheets(fileIdx)" is-loading="gdrive.files[fileIdx].loading" ng-show="gdrive.files[fileIdx].loading || gdrive.files[fileIdx].loaded"></kb-loader>
                            </a>
                    </accordion-heading>
                    <table class="table table-stripped table-condensed table-tables" ng-hide="gdrive.files[fileIdx].loading" >
                        <thead>
                        <tr>
                            <th>Sheet Name</th>
                            <th>Already configured</th>
                            <th>Select to add</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sheet in gdrive.files[fileIdx].sheets">
                                <td>
                                    {{sheet.sheetTitle}}
                                </td>
                                <td>
                                    {{sheet.disabled}}
                                </td>
                                <td>
                                    <input tolltip="sheet.tooltip" ng-hide="sheet.disabled" ng-model="sheet.added" id="Checkbox1" type="checkbox">
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    <div class="well" ng-hide="gdrive.files[fileIdx].loading || gdrive.files[fileIdx].sheets || gdrive.files[fileIdx].sheets.length">
                            No sheets to select.
                        </div>
                </accordion-group>

            </accordion>

        </div>
        <!-- MANUAL ACCORDION -->
        <!--<div ng-repeat="(fileIdx,file) in gdrive.files" class="col-md-12" ng-show="false">

            <div class="col-md-10">
                <div class="col-md-8">
                    <button class="btn btn-info btn-block"
                        ng-click="loadGdriveSheets(fileIdx, false)">
                        {{file.title}}
                    </button>
                </div>
                <div class="col-md-2">
                    <kb-loader tooltip="reload file sheets" ng-click="refreshFileSheets(fileIdx)" is-loading="gdrive.files[fileIdx].loading" ng-show="gdrive.files[fileIdx].loading || gdrive.files[fileIdx].loaded"></kb-loader>
                </div>

            </div>

            <div collapse="gdrive.files[fileIdx].isCollapsed" class="col-md-12">
                <div class="col-md-10">
                    <ul class="list-unstyled">
                        <li ng-repeat="sheet in gdrive.files[fileIdx].sheets">
                            <div class="checkbox">
                                <label>
                                    <input tolltip="sheet.tooltip" ng-disabled="sheet.disabled" ng-model="sheet.added" id="{{sheet.id}}" type="checkbox">
                                    <h5>{{sheet.sheetTitle}}</h5>
                                </label>
                            </div>
                        </li>
                    </ul>

                    <div class="well" ng-hide="gdrive.files[fileIdx].loading || gdrive.files[fileIdx].sheets || gdrive.files[fileIdx].sheets.length">
                        No sheets to select.
                    </div>
                </div>
            </div>


        </div>



-->



        <div class="form-actions">
            <span class="text-error pull-right">{{error}}</span>
            <kb-loader is-loading="isSaving" ng-show="isSaving"></kb-loader>
            <button class="btn btn-default pull-center" ng-click="goToIndex(false)" ng-disabled="isSaving || filesLoading">Cancel</button>
            <button class="btn btn-primary pull-center" ng-click="submit()" ng-disabled="isSaving || filesLoading">Save selection</button>

        </div>

    </div>

</div>
